*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

hr{
    width: 80%;
    margin: auto;

    border-width: 0.01px;
    border-radius: 10%;
    color: #9ca3af;
}

/* HEADER */
.headerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;

    background-image: url("/img/2880737.webp");
    background-size: cover;
    background-position: center;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    padding: 50px;
    background-color: #1e293b55;
}

    .header__title{
        font-size: calc(1.2em + (2vw + 1vh));
        color: white;
    }
    
/* MAIN */
.cardContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;

    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1e293b;
}

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 300px;

        background-color: #475569;
        border-radius: 8px;
        transition: transform 0.2s;
    }

    .card:hover{
        transform: scale(1.15);
    }

        .card__img{
            width: 100%;
            height: 300px;
            margin-bottom: 5px;

            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }

        .card__name{
            display: inline;

            font-size: 25px;
            margin: 5px;
            color: white;
        }

        .card__status--unknown{
            display: inline-block;

            font-weight: 300;
            font-size: 15px;
            color: #9ca3af;
        }

        .card__status--dead{
            display: inline-block;

            font-weight: 300;
            font-size: 15px;
            color: #b91c1c;
        }

        .card__status--alive{
            display: inline-block;

            font-weight: 300;
            font-size: 15px;
            color: #16a34a;
        }

        .card__species{
            font-size: 15px;
            padding: 7px;
            font-weight: 300;
            color: white;
        }

        .card__gender{
            font-size: 15px;
            padding: 7px;
            font-weight: 300;
            color: white;
        }

        .card__origin{
            font-size: 15px;
            padding: 7px;
            font-weight: 300;
            color: white;
        }

/* FOOTER */
.footer{
    display: flex;
    width: 100%;
    height: 200px;

    background-color: #475569;
}