*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

/* HEADER */
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 40vh;

    background-color: #1e3a8a;
}

    .header__title{
        font-size: calc(0.5em + (3vw + 1vh));
        color: white;
    }

    .header__by{
        display: inline-block;
        margin-bottom: 50px;

        color: #dbeafe;
        transition: text-shadow, transform 0.2s;
    }

        .header__by:hover{
            cursor: pointer;
            text-shadow: 0 0 10px #dbeafe;
            transform: scale(1.15);
        }

    .header__p{
        color: white;
    }

    .header__search{
        margin-top: 30px;
        width: 40%;

        padding: 5px;
    }

    
        @media (max-width: 600px) {
            .header__search {
                width: 80%;
            }

            .header__p{
                width: 70%;
            }
        }
    