*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

hr{
    width: 80%;
    margin: auto;

    border-width: 0.01px;
    border-radius: 10%;
    color: #9ca3af;
}

/* HEADER */
.headerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;

    background-image: url("/img/2880737.png");
    background-size: cover;
    background-position: center;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    padding: 50px;
    background-color: #1e293b55;
}

    .header__title{
        font-size: calc(1.2em + (3vw + 1vh));
        color: white;
        text-shadow: 0 0 10px 1px black;
    }
    
/* MAIN */
.cardContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    min-height: 100vh;

    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1e293b;
}

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 300px;
        max-height: 470px;

        background-color: #475569;
        border-radius: 8px;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
        transition: transform 0.2s;
    }

    .card:hover{
        transform: scale(1.15);
    }

        .card__img{
            width: 100%;
            height: 300px;
            margin-bottom: 5px;

            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }

        .card__name{
            display: inline;

            font-size: 25px;
            margin: 5px;
            color: white;
        }

        .card__status--unknown{
            display: inline-block;

            font-weight: 300;
            font-size: 15px;
            color: #9ca3af;
        }

        .card__status--dead{
            display: inline-block;

            font-weight: 300;
            font-size: 15px;
            color: #b91c1c;
        }

        .card__status--alive{
            display: inline-block;

            font-weight: 300;
            font-size: 15px;
            color: #16a34a;
        }

        .card__species{
            font-size: 15px;
            padding: 7px;
            font-weight: 300;
            color: white;
        }

        .card__gender{
            font-size: 15px;
            padding: 7px;
            font-weight: 300;
            color: white;
        }

        .card__origin{
            font-size: 15px;
            padding: 7px;
            font-weight: 300;
            color: white;
        }

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    background-color: #475569;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

    footer span {
        color: #9ca3af;
    }

    footer a{
        color: white;
        text-decoration: underline;
        text-decoration-color: #4338ca;
        text-decoration-thickness: 2px;
        transition: all 0.2s;
    }

        footer a:hover{
            color: #4338ca;
            text-decoration: none;
        }

    .contact__icon{
        width: 40px;
        height: 40px;
        margin: 30px 15px 30px 15px;
        transition: all 0.2s;
    }

        .contact__icon:hover{
            cursor: pointer;
            transform: scale(1.25);
        }

/* BARRA DE BUSQUEDA */
.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    background-color: #475569;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.5);
}

    .search__bar{
        width: 50vw;

        padding: 15px;
        border: none;
        outline: none;
        background-color: #1e293b;
        color: white;
        font-size: 14px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

        .search__bar:active{
            border: none;
        }

    .search__btn{
        position: relative;
        bottom: -7px;

        padding: 11px;
        border: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

        .search__btn--lupa{
            display: block;
            width: 25px;
            height: 25px;
        }

/* ERROR: NO MATCHES FOUND */
.cardContainer__error{
    display: none;

    background-color: #475569;
    color: #b91c1c;
    text-align: center;
}